@import url("https://fonts.googleapis.com/css?family=Figtree:500,800,500italic,800italic");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray500: hsl(0, 0%, 42%);
  --Gray950: hsl(0, 0%, 7%);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  background-color: var(--Yellow);
  font-family: "Figtree", sans-serif;
}
.card {
  width: 24rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 0.125rem solid var(--Gray500);
  border-radius: 1.25rem;
  background-color: var(--White);
  box-shadow: 0.5rem 0.5rem 0 var(--Gray950);
}
.img-box {
  width: 100%;
  height: 12.5rem;
  border-radius: 0.625rem;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  color: var(--Gray950);
  line-height: 1.5;
}
.info .mark {
  font-size: 0.875rem;
  font-weight: 800;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--Yellow);
}
.info .published {
  font-size: 0.875rem;
}
.info .title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 800;
  transition: color 0.3s ease;
}
.info .title:hover {
  color: var(--Yellow);
  cursor: pointer;
}
.info .description {
  color: var(--Gray500);
  font-weight: 500;
}
.avatar-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .75rem;
  width: fit-content;
}
.avatar-name .avatar-box {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.avatar-name .avatar-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.avatar-name .name {
  font-size: .875rem;
  font-weight: 800;
  color: var(--Gray950);
  line-height: 1.5;
}
@media (max-width:23.44rem) {
  body {
    padding: 1.5rem;
  }
}